---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { Button } from '@/components/ui/button.tsx';
---

<Layout>
	<Button>dd</Button>
	<Welcome />
</Layout>
